div{
    background-color: rgba(4, 78, 103, 0.701);
    height: 200px;
    width: 500px px;
    transition: 2s;
    text-align: center;
    display: inline;
    
}
div:hover{
 background-color: rgb(208, 121, 34);
border-radius: 50%;
}